### There are multiple ways to create RDDs in Spark:
-Parallelizing already existing collection in driver program.

-From a dataset in an external storage system (e.g. HDFS, Hbase, shared file system).

-From already existing RDDs.

#### Example parallelize statement

In [1]:
import string

In [2]:
import random

In [3]:
def id_generator(size=6, chars=string.ascii_uppercase + string.digits):
...    return ''.join(random.choice(chars) for _ in range(size))
...

In [4]:
my_list = list()

In [5]:
for i in range(1, 10):
...   my_list.append(id_generator())
...

In [6]:
my_list

['V88GTW',
 'HTMZOE',
 'UEMZB0',
 '1JOUNE',
 '9W9EXV',
 'WUBRAZ',
 'TUIF3E',
 '7LXFRM',
 'A7551C']

In [7]:
test1_RDD = sc.parallelize(my_list)

In [8]:
test1_RDD.collect()

['V88GTW',
 'HTMZOE',
 'UEMZB0',
 '1JOUNE',
 '9W9EXV',
 'WUBRAZ',
 'TUIF3E',
 '7LXFRM',
 'A7551C']

#### From a dataset on filesystem. Here we read a csv file

In [9]:
data_file = "./mtcars.csv"

In [10]:
data_from_file=sc.textFile(data_file)

In [11]:
data_from_file

./mtcars.csv MapPartitionsRDD[2] at textFile at NativeMethodAccessorImpl.java:0

In [12]:
data_from_file.collect()

['model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb',
 'Mazda RX4,21,6,160,110,3.9,2.62,16.46,0,1,4,4',
 'Mazda RX4 Wag,21,6,160,110,3.9,2.875,17.02,0,1,4,4',
 'Datsun 710,22.8,4,108,93,3.85,2.32,18.61,1,1,4,1',
 'Hornet 4 Drive,21.4,6,258,110,3.08,3.215,19.44,1,0,3,1',
 'Hornet Sportabout,18.7,8,360,175,3.15,3.44,17.02,0,0,3,2',
 'Valiant,18.1,6,225,105,2.76,3.46,20.22,1,0,3,1',
 'Duster 360,14.3,8,360,245,3.21,3.57,15.84,0,0,3,4',
 'Merc 240D,24.4,4,146.7,62,3.69,3.19,20,1,0,4,2',
 'Merc 230,22.8,4,140.8,95,3.92,3.15,22.9,1,0,4,2',
 'Merc 280,19.2,6,167.6,123,3.92,3.44,18.3,1,0,4,4',
 'Merc 280C,17.8,6,167.6,123,3.92,3.44,18.9,1,0,4,4',
 'Merc 450SE,16.4,8,275.8,180,3.07,4.07,17.4,0,0,3,3',
 'Merc 450SL,17.3,8,275.8,180,3.07,3.73,17.6,0,0,3,3',
 'Merc 450SLC,15.2,8,275.8,180,3.07,3.78,18,0,0,3,3',
 'Cadillac Fleetwood,10.4,8,472,205,2.93,5.25,17.98,0,0,3,4',
 'Lincoln Continental,10.4,8,460,215,3,5.424,17.82,0,0,3,4',
 'Chrysler Imperial,14.7,8,440,230,3.23,5.345,17.42,0,0,3,4',
 'Fiat 128,32.4,4,78.7,66,4.08,2.2,19.47,1,1,4,1',
 'Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2',
 'Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.9,1,1,4,1',
 'Toyota Corona,21.5,4,120.1,97,3.7,2.465,20.01,1,0,3,1',
 'Dodge Challenger,15.5,8,318,150,2.76,3.52,16.87,0,0,3,2',
 'AMC Javelin,15.2,8,304,150,3.15,3.435,17.3,0,0,3,2',
 'Camaro Z28,13.3,8,350,245,3.73,3.84,15.41,0,0,3,4',
 'Pontiac Firebird,19.2,8,400,175,3.08,3.845,17.05,0,0,3,2',
 'Fiat X1-9,27.3,4,79,66,4.08,1.935,18.9,1,1,4,1',
 'Porsche 914-2,26,4,120.3,91,4.43,2.14,16.7,0,1,5,2',
 'Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2',
 'Ford Pantera L,15.8,8,351,264,4.22,3.17,14.5,0,1,5,4',
 'Ferrari Dino,19.7,6,145,175,3.62,2.77,15.5,0,1,5,6',
 'Maserati Bora,15,8,301,335,3.54,3.57,14.6,0,1,5,8',
 'Volvo 142E,21.4,4,121,109,4.11,2.78,18.6,1,1,4,2']

This still needs some processing to make it usable. Can do something different:

In [13]:
mtcars=sqlContext.read.format('csv').options(header='true', inferSchema='true').load('./mtcars.csv')

In [14]:
mtcars.collect()

[Row(model='Mazda RX4', mpg=21.0, cyl=6, disp=160.0, hp=110, drat=3.9, wt=2.62, qsec=16.46, vs=0, am=1, gear=4, carb=4),
 Row(model='Mazda RX4 Wag', mpg=21.0, cyl=6, disp=160.0, hp=110, drat=3.9, wt=2.875, qsec=17.02, vs=0, am=1, gear=4, carb=4),
 Row(model='Datsun 710', mpg=22.8, cyl=4, disp=108.0, hp=93, drat=3.85, wt=2.32, qsec=18.61, vs=1, am=1, gear=4, carb=1),
 Row(model='Hornet 4 Drive', mpg=21.4, cyl=6, disp=258.0, hp=110, drat=3.08, wt=3.215, qsec=19.44, vs=1, am=0, gear=3, carb=1),
 Row(model='Hornet Sportabout', mpg=18.7, cyl=8, disp=360.0, hp=175, drat=3.15, wt=3.44, qsec=17.02, vs=0, am=0, gear=3, carb=2),
 Row(model='Valiant', mpg=18.1, cyl=6, disp=225.0, hp=105, drat=2.76, wt=3.46, qsec=20.22, vs=1, am=0, gear=3, carb=1),
 Row(model='Duster 360', mpg=14.3, cyl=8, disp=360.0, hp=245, drat=3.21, wt=3.57, qsec=15.84, vs=0, am=0, gear=3, carb=4),
 Row(model='Merc 240D', mpg=24.4, cyl=4, disp=146.7, hp=62, drat=3.69, wt=3.19, qsec=20.0, vs=1, am=0, gear=4, carb=2),
 Row(model='Merc 230', mpg=22.8, cyl=4, disp=140.8, hp=95, drat=3.92, wt=3.15, qsec=22.9, vs=1, am=0, gear=4, carb=2),
 Row(model='Merc 280', mpg=19.2, cyl=6, disp=167.6, hp=123, drat=3.92, wt=3.44, qsec=18.3, vs=1, am=0, gear=4, carb=4),
 Row(model='Merc 280C', mpg=17.8, cyl=6, disp=167.6, hp=123, drat=3.92, wt=3.44, qsec=18.9, vs=1, am=0, gear=4, carb=4),
 Row(model='Merc 450SE', mpg=16.4, cyl=8, disp=275.8, hp=180, drat=3.07, wt=4.07, qsec=17.4, vs=0, am=0, gear=3, carb=3),
 Row(model='Merc 450SL', mpg=17.3, cyl=8, disp=275.8, hp=180, drat=3.07, wt=3.73, qsec=17.6, vs=0, am=0, gear=3, carb=3),
 Row(model='Merc 450SLC', mpg=15.2, cyl=8, disp=275.8, hp=180, drat=3.07, wt=3.78, qsec=18.0, vs=0, am=0, gear=3, carb=3),
 Row(model='Cadillac Fleetwood', mpg=10.4, cyl=8, disp=472.0, hp=205, drat=2.93, wt=5.25, qsec=17.98, vs=0, am=0, gear=3, carb=4),
 Row(model='Lincoln Continental', mpg=10.4, cyl=8, disp=460.0, hp=215, drat=3.0, wt=5.424, qsec=17.82, vs=0, am=0, gear=3, carb=4),
 Row(model='Chrysler Imperial', mpg=14.7, cyl=8, disp=440.0, hp=230, drat=3.23, wt=5.345, qsec=17.42, vs=0, am=0, gear=3, carb=4),
 Row(model='Fiat 128', mpg=32.4, cyl=4, disp=78.7, hp=66, drat=4.08, wt=2.2, qsec=19.47, vs=1, am=1, gear=4, carb=1),
 Row(model='Honda Civic', mpg=30.4, cyl=4, disp=75.7, hp=52, drat=4.93, wt=1.615, qsec=18.52, vs=1, am=1, gear=4, carb=2),
 Row(model='Toyota Corolla', mpg=33.9, cyl=4, disp=71.1, hp=65, drat=4.22, wt=1.835, qsec=19.9, vs=1, am=1, gear=4, carb=1),
 Row(model='Toyota Corona', mpg=21.5, cyl=4, disp=120.1, hp=97, drat=3.7, wt=2.465, qsec=20.01, vs=1, am=0, gear=3, carb=1),
 Row(model='Dodge Challenger', mpg=15.5, cyl=8, disp=318.0, hp=150, drat=2.76, wt=3.52, qsec=16.87, vs=0, am=0, gear=3, carb=2),
 Row(model='AMC Javelin', mpg=15.2, cyl=8, disp=304.0, hp=150, drat=3.15, wt=3.435, qsec=17.3, vs=0, am=0, gear=3, carb=2),
 Row(model='Camaro Z28', mpg=13.3, cyl=8, disp=350.0, hp=245, drat=3.73, wt=3.84, qsec=15.41, vs=0, am=0, gear=3, carb=4),
 Row(model='Pontiac Firebird', mpg=19.2, cyl=8, disp=400.0, hp=175, drat=3.08, wt=3.845, qsec=17.05, vs=0, am=0, gear=3, carb=2),
 Row(model='Fiat X1-9', mpg=27.3, cyl=4, disp=79.0, hp=66, drat=4.08, wt=1.935, qsec=18.9, vs=1, am=1, gear=4, carb=1),
 Row(model='Porsche 914-2', mpg=26.0, cyl=4, disp=120.3, hp=91, drat=4.43, wt=2.14, qsec=16.7, vs=0, am=1, gear=5, carb=2),
 Row(model='Lotus Europa', mpg=30.4, cyl=4, disp=95.1, hp=113, drat=3.77, wt=1.513, qsec=16.9, vs=1, am=1, gear=5, carb=2),
 Row(model='Ford Pantera L', mpg=15.8, cyl=8, disp=351.0, hp=264, drat=4.22, wt=3.17, qsec=14.5, vs=0, am=1, gear=5, carb=4),
 Row(model='Ferrari Dino', mpg=19.7, cyl=6, disp=145.0, hp=175, drat=3.62, wt=2.77, qsec=15.5, vs=0, am=1, gear=5, carb=6),
 Row(model='Maserati Bora', mpg=15.0, cyl=8, disp=301.0, hp=335, drat=3.54, wt=3.57, qsec=14.6, vs=0, am=1, gear=5, carb=8),
 Row(model='Volvo 142E', mpg=21.4, cyl=4, disp=121.0, hp=109, drat=4.11, wt=2.78, qsec=18.6, vs=1, am=1, gear=4, carb=2)]

In [15]:
mtcars.show(4)

+--------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|         model| mpg|cyl| disp| hp|drat|   wt| qsec| vs| am|gear|carb|
+--------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|     Mazda RX4|21.0|  6|160.0|110| 3.9| 2.62|16.46|  0|  1|   4|   4|
| Mazda RX4 Wag|21.0|  6|160.0|110| 3.9|2.875|17.02|  0|  1|   4|   4|
|    Datsun 710|22.8|  4|108.0| 93|3.85| 2.32|18.61|  1|  1|   4|   1|
|Hornet 4 Drive|21.4|  6|258.0|110|3.08|3.215|19.44|  1|  0|   3|   1|
+--------------+----+---+-----+---+----+-----+-----+---+---+----+----+
only showing top 4 rows

#### From an existing RDD

Transformation function - take an input RDD and produce a new one. Some of the operations applied on RDD are: filter, count, sample, distinct, Map, FlatMap etc. Reminder: RDDs are immutable => The input RDD does change and just a new RDD is created.

In [16]:
mtcars_sub1=mtcars.select(mtcars['model'], mtcars['mpg'], mtcars['hp'])

In [17]:
mtcars_sub1.show()

+-------------------+----+---+
|              model| mpg| hp|
+-------------------+----+---+
|          Mazda RX4|21.0|110|
|      Mazda RX4 Wag|21.0|110|
|         Datsun 710|22.8| 93|
|     Hornet 4 Drive|21.4|110|
|  Hornet Sportabout|18.7|175|
|            Valiant|18.1|105|
|         Duster 360|14.3|245|
|          Merc 240D|24.4| 62|
|           Merc 230|22.8| 95|
|           Merc 280|19.2|123|
|          Merc 280C|17.8|123|
|         Merc 450SE|16.4|180|
|         Merc 450SL|17.3|180|
|        Merc 450SLC|15.2|180|
| Cadillac Fleetwood|10.4|205|
|Lincoln Continental|10.4|215|
|  Chrysler Imperial|14.7|230|
|           Fiat 128|32.4| 66|
|        Honda Civic|30.4| 52|
|     Toyota Corolla|33.9| 65|
+-------------------+----+---+
only showing top 20 rows

### Examples of Transformations

In [18]:
x = sc.parallelize(range(0,20), 2)

In [19]:
x.collect()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [20]:
y = x.filter(lambda x: x % 2 == 0)

In [21]:
y.collect()

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [22]:
rdd1 = sc.parallelize([1, 2, 3])
rdd2 = sc.parallelize([4, 5, 6])
rdd3 = sc.parallelize([7, 8, 9])

rdd = sc.union([rdd1, rdd2, rdd3])
rdd.collect()

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Examples of Actions

We already saw the "collect" action above. Lets check some more:

In [23]:
y.count()

10

In [24]:
y.take(5)

[0, 2, 4, 6, 8]

In [25]:
y.first()

0

In [26]:
z=x.reduce(lambda accum, n: accum + n)

In [27]:
z

190

In [28]:
x1 = sc.parallelize(range(1,5), 2)

In [29]:
w=x1.reduce(lambda accum, n: accum * n)

In [30]:
w

24

## Full Examples

### Calculate the value of PI (from Spark examples)

In [31]:
from random import random
from operator import add

partitions = 4
n = 100000 * partitions

def f(_):
    x = random() * 2 - 1
    y = random() * 2 - 1
    return 1 if x ** 2 + y ** 2 <= 1 else 0

count = sc.parallelize(range(1, n + 1), partitions).map(f).reduce(add)
print("Pi is roughly %f" % (4.0 * count / n))

Pi is roughly 3.134480

### Housing data example

#### Data: houses number of bedrooms, neighborhood, price

Find the total dollar amount of properties on sale for each neighborhood

In [32]:
text_RDD = sc.parallelize([
                            "3 Downtown 400000",
                            "2 Downtown 240000",
                            "3 Hilltop 650000"
                          ], 2)

#### Mapper: parse each line into a (key, value) pair

In [33]:
text_RDD.collect()

['3 Downtown 400000', '2 Downtown 240000', '3 Hilltop 650000']

In [34]:
def mapper_parse_lines(line):
    """Parse line into (neighborhoood, price) pair"""
    words = line.split()
    return (words[1], float(words[2]))

In [35]:
mapper_parse_lines("1 Downtown 120000")

('Downtown', 120000.0)

In [36]:
house_prices_RDD = text_RDD.map(mapper_parse_lines)

In [37]:
house_prices_RDD.collect()

[('Downtown', 400000.0), ('Downtown', 240000.0), ('Hilltop', 650000.0)]

In [38]:
type(house_prices_RDD)

pyspark.rdd.PipelinedRDD

#### Reducer: sum values across all pairs with the same key

In [39]:
def reducer_sum(a,b):
    return a+b

In [40]:
house_prices_RDD.reduceByKey(reducer_sum)

PythonRDD[41] at RDD at PythonRDD.scala:48

In [41]:
house_prices_RDD.reduceByKey(reducer_sum).collect()

[('Downtown', 640000.0), ('Hilltop', 650000.0)]

### Exercise
Copy-pasting, modifying and rerunning the code above, count the **total** number of bedrooms available in each neighborhood