Recall the read of mtcars database from session 1

In [1]:
data_file = "./mtcars.csv"

In [2]:
data_from_file=sc.textFile(data_file)

In [3]:
data_from_file

./mtcars.csv MapPartitionsRDD[1] at textFile at NativeMethodAccessorImpl.java:0

In [4]:
data_from_file.collect()

['model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb',
 'Mazda RX4,21,6,160,110,3.9,2.62,16.46,0,1,4,4',
 'Mazda RX4 Wag,21,6,160,110,3.9,2.875,17.02,0,1,4,4',
 'Datsun 710,22.8,4,108,93,3.85,2.32,18.61,1,1,4,1',
 'Hornet 4 Drive,21.4,6,258,110,3.08,3.215,19.44,1,0,3,1',
 'Hornet Sportabout,18.7,8,360,175,3.15,3.44,17.02,0,0,3,2',
 'Valiant,18.1,6,225,105,2.76,3.46,20.22,1,0,3,1',
 'Duster 360,14.3,8,360,245,3.21,3.57,15.84,0,0,3,4',
 'Merc 240D,24.4,4,146.7,62,3.69,3.19,20,1,0,4,2',
 'Merc 230,22.8,4,140.8,95,3.92,3.15,22.9,1,0,4,2',
 'Merc 280,19.2,6,167.6,123,3.92,3.44,18.3,1,0,4,4',
 'Merc 280C,17.8,6,167.6,123,3.92,3.44,18.9,1,0,4,4',
 'Merc 450SE,16.4,8,275.8,180,3.07,4.07,17.4,0,0,3,3',
 'Merc 450SL,17.3,8,275.8,180,3.07,3.73,17.6,0,0,3,3',
 'Merc 450SLC,15.2,8,275.8,180,3.07,3.78,18,0,0,3,3',
 'Cadillac Fleetwood,10.4,8,472,205,2.93,5.25,17.98,0,0,3,4',
 'Lincoln Continental,10.4,8,460,215,3,5.424,17.82,0,0,3,4',
 'Chrysler Imperial,14.7,8,440,230,3.23,5.345,17.42,0,0,3,4',
 'Fiat 128,32.4,4,78.7,66,4.08,2.2,19.47,1,1,4,1',
 'Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2',
 'Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.9,1,1,4,1',
 'Toyota Corona,21.5,4,120.1,97,3.7,2.465,20.01,1,0,3,1',
 'Dodge Challenger,15.5,8,318,150,2.76,3.52,16.87,0,0,3,2',
 'AMC Javelin,15.2,8,304,150,3.15,3.435,17.3,0,0,3,2',
 'Camaro Z28,13.3,8,350,245,3.73,3.84,15.41,0,0,3,4',
 'Pontiac Firebird,19.2,8,400,175,3.08,3.845,17.05,0,0,3,2',
 'Fiat X1-9,27.3,4,79,66,4.08,1.935,18.9,1,1,4,1',
 'Porsche 914-2,26,4,120.3,91,4.43,2.14,16.7,0,1,5,2',
 'Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2',
 'Ford Pantera L,15.8,8,351,264,4.22,3.17,14.5,0,1,5,4',
 'Ferrari Dino,19.7,6,145,175,3.62,2.77,15.5,0,1,5,6',
 'Maserati Bora,15,8,301,335,3.54,3.57,14.6,0,1,5,8',
 'Volvo 142E,21.4,4,121,109,4.11,2.78,18.6,1,1,4,2']

Example of filtering data. Here we choose all rows with Merc in the name.

In [5]:
mtcars_sub_data = data_from_file.filter(lambda x: 'Merc' in x)

In [6]:
mtcars_sub_data.collect()

['Merc 240D,24.4,4,146.7,62,3.69,3.19,20,1,0,4,2',
 'Merc 230,22.8,4,140.8,95,3.92,3.15,22.9,1,0,4,2',
 'Merc 280,19.2,6,167.6,123,3.92,3.44,18.3,1,0,4,4',
 'Merc 280C,17.8,6,167.6,123,3.92,3.44,18.9,1,0,4,4',
 'Merc 450SE,16.4,8,275.8,180,3.07,4.07,17.4,0,0,3,3',
 'Merc 450SL,17.3,8,275.8,180,3.07,3.73,17.6,0,0,3,3',
 'Merc 450SLC,15.2,8,275.8,180,3.07,3.78,18,0,0,3,3']

In [7]:
mtcars_full_data = data_from_file.filter(lambda x: 'mpg' not in x)

In [8]:
mtcars_full_data.collect()

['Mazda RX4,21,6,160,110,3.9,2.62,16.46,0,1,4,4',
 'Mazda RX4 Wag,21,6,160,110,3.9,2.875,17.02,0,1,4,4',
 'Datsun 710,22.8,4,108,93,3.85,2.32,18.61,1,1,4,1',
 'Hornet 4 Drive,21.4,6,258,110,3.08,3.215,19.44,1,0,3,1',
 'Hornet Sportabout,18.7,8,360,175,3.15,3.44,17.02,0,0,3,2',
 'Valiant,18.1,6,225,105,2.76,3.46,20.22,1,0,3,1',
 'Duster 360,14.3,8,360,245,3.21,3.57,15.84,0,0,3,4',
 'Merc 240D,24.4,4,146.7,62,3.69,3.19,20,1,0,4,2',
 'Merc 230,22.8,4,140.8,95,3.92,3.15,22.9,1,0,4,2',
 'Merc 280,19.2,6,167.6,123,3.92,3.44,18.3,1,0,4,4',
 'Merc 280C,17.8,6,167.6,123,3.92,3.44,18.9,1,0,4,4',
 'Merc 450SE,16.4,8,275.8,180,3.07,4.07,17.4,0,0,3,3',
 'Merc 450SL,17.3,8,275.8,180,3.07,3.73,17.6,0,0,3,3',
 'Merc 450SLC,15.2,8,275.8,180,3.07,3.78,18,0,0,3,3',
 'Cadillac Fleetwood,10.4,8,472,205,2.93,5.25,17.98,0,0,3,4',
 'Lincoln Continental,10.4,8,460,215,3,5.424,17.82,0,0,3,4',
 'Chrysler Imperial,14.7,8,440,230,3.23,5.345,17.42,0,0,3,4',
 'Fiat 128,32.4,4,78.7,66,4.08,2.2,19.47,1,1,4,1',
 'Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2',
 'Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.9,1,1,4,1',
 'Toyota Corona,21.5,4,120.1,97,3.7,2.465,20.01,1,0,3,1',
 'Dodge Challenger,15.5,8,318,150,2.76,3.52,16.87,0,0,3,2',
 'AMC Javelin,15.2,8,304,150,3.15,3.435,17.3,0,0,3,2',
 'Camaro Z28,13.3,8,350,245,3.73,3.84,15.41,0,0,3,4',
 'Pontiac Firebird,19.2,8,400,175,3.08,3.845,17.05,0,0,3,2',
 'Fiat X1-9,27.3,4,79,66,4.08,1.935,18.9,1,1,4,1',
 'Porsche 914-2,26,4,120.3,91,4.43,2.14,16.7,0,1,5,2',
 'Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2',
 'Ford Pantera L,15.8,8,351,264,4.22,3.17,14.5,0,1,5,4',
 'Ferrari Dino,19.7,6,145,175,3.62,2.77,15.5,0,1,5,6',
 'Maserati Bora,15,8,301,335,3.54,3.57,14.6,0,1,5,8',
 'Volvo 142E,21.4,4,121,109,4.11,2.78,18.6,1,1,4,2']

In [9]:
from pprint import pprint

In [10]:
sub_csv_data = mtcars_sub_data.map(lambda x: x.split(","))

In [11]:
sub_csv_data.collect()

[['Merc 240D',
  '24.4',
  '4',
  '146.7',
  '62',
  '3.69',
  '3.19',
  '20',
  '1',
  '0',
  '4',
  '2'],
 ['Merc 230',
  '22.8',
  '4',
  '140.8',
  '95',
  '3.92',
  '3.15',
  '22.9',
  '1',
  '0',
  '4',
  '2'],
 ['Merc 280',
  '19.2',
  '6',
  '167.6',
  '123',
  '3.92',
  '3.44',
  '18.3',
  '1',
  '0',
  '4',
  '4'],
 ['Merc 280C',
  '17.8',
  '6',
  '167.6',
  '123',
  '3.92',
  '3.44',
  '18.9',
  '1',
  '0',
  '4',
  '4'],
 ['Merc 450SE',
  '16.4',
  '8',
  '275.8',
  '180',
  '3.07',
  '4.07',
  '17.4',
  '0',
  '0',
  '3',
  '3'],
 ['Merc 450SL',
  '17.3',
  '8',
  '275.8',
  '180',
  '3.07',
  '3.73',
  '17.6',
  '0',
  '0',
  '3',
  '3'],
 ['Merc 450SLC',
  '15.2',
  '8',
  '275.8',
  '180',
  '3.07',
  '3.78',
  '18',
  '0',
  '0',
  '3',
  '3']]

In [12]:
csv_data=data_from_file.map(lambda x: x.split(","))

In [13]:
csv_data.collect()

[['model',
  'mpg',
  'cyl',
  'disp',
  'hp',
  'drat',
  'wt',
  'qsec',
  'vs',
  'am',
  'gear',
  'carb'],
 ['Mazda RX4',
  '21',
  '6',
  '160',
  '110',
  '3.9',
  '2.62',
  '16.46',
  '0',
  '1',
  '4',
  '4'],
 ['Mazda RX4 Wag',
  '21',
  '6',
  '160',
  '110',
  '3.9',
  '2.875',
  '17.02',
  '0',
  '1',
  '4',
  '4'],
 ['Datsun 710',
  '22.8',
  '4',
  '108',
  '93',
  '3.85',
  '2.32',
  '18.61',
  '1',
  '1',
  '4',
  '1'],
 ['Hornet 4 Drive',
  '21.4',
  '6',
  '258',
  '110',
  '3.08',
  '3.215',
  '19.44',
  '1',
  '0',
  '3',
  '1'],
 ['Hornet Sportabout',
  '18.7',
  '8',
  '360',
  '175',
  '3.15',
  '3.44',
  '17.02',
  '0',
  '0',
  '3',
  '2'],
 ['Valiant',
  '18.1',
  '6',
  '225',
  '105',
  '2.76',
  '3.46',
  '20.22',
  '1',
  '0',
  '3',
  '1'],
 ['Duster 360',
  '14.3',
  '8',
  '360',
  '245',
  '3.21',
  '3.57',
  '15.84',
  '0',
  '0',
  '3',
  '4'],
 ['Merc 240D',
  '24.4',
  '4',
  '146.7',
  '62',
  '3.69',
  '3.19',
  '20',
  '1',
  '0',
  '4',
  '2'],
 ['Merc 230',
  '22.8',
  '4',
  '140.8',
  '95',
  '3.92',
  '3.15',
  '22.9',
  '1',
  '0',
  '4',
  '2'],
 ['Merc 280',
  '19.2',
  '6',
  '167.6',
  '123',
  '3.92',
  '3.44',
  '18.3',
  '1',
  '0',
  '4',
  '4'],
 ['Merc 280C',
  '17.8',
  '6',
  '167.6',
  '123',
  '3.92',
  '3.44',
  '18.9',
  '1',
  '0',
  '4',
  '4'],
 ['Merc 450SE',
  '16.4',
  '8',
  '275.8',
  '180',
  '3.07',
  '4.07',
  '17.4',
  '0',
  '0',
  '3',
  '3'],
 ['Merc 450SL',
  '17.3',
  '8',
  '275.8',
  '180',
  '3.07',
  '3.73',
  '17.6',
  '0',
  '0',
  '3',
  '3'],
 ['Merc 450SLC',
  '15.2',
  '8',
  '275.8',
  '180',
  '3.07',
  '3.78',
  '18',
  '0',
  '0',
  '3',
  '3'],
 ['Cadillac Fleetwood',
  '10.4',
  '8',
  '472',
  '205',
  '2.93',
  '5.25',
  '17.98',
  '0',
  '0',
  '3',
  '4'],
 ['Lincoln Continental',
  '10.4',
  '8',
  '460',
  '215',
  '3',
  '5.424',
  '17.82',
  '0',
  '0',
  '3',
  '4'],
 ['Chrysler Imperial',
  '14.7',
  '8',
  '440',
  '230',
  '3.23',
  '5.345',
  '17.42',
  '0',
  '0',
  '3',
  '4'],
 ['Fiat 128',
  '32.4',
  '4',
  '78.7',
  '66',
  '4.08',
  '2.2',
  '19.47',
  '1',
  '1',
  '4',
  '1'],
 ['Honda Civic',
  '30.4',
  '4',
  '75.7',
  '52',
  '4.93',
  '1.615',
  '18.52',
  '1',
  '1',
  '4',
  '2'],
 ['Toyota Corolla',
  '33.9',
  '4',
  '71.1',
  '65',
  '4.22',
  '1.835',
  '19.9',
  '1',
  '1',
  '4',
  '1'],
 ['Toyota Corona',
  '21.5',
  '4',
  '120.1',
  '97',
  '3.7',
  '2.465',
  '20.01',
  '1',
  '0',
  '3',
  '1'],
 ['Dodge Challenger',
  '15.5',
  '8',
  '318',
  '150',
  '2.76',
  '3.52',
  '16.87',
  '0',
  '0',
  '3',
  '2'],
 ['AMC Javelin',
  '15.2',
  '8',
  '304',
  '150',
  '3.15',
  '3.435',
  '17.3',
  '0',
  '0',
  '3',
  '2'],
 ['Camaro Z28',
  '13.3',
  '8',
  '350',
  '245',
  '3.73',
  '3.84',
  '15.41',
  '0',
  '0',
  '3',
  '4'],
 ['Pontiac Firebird',
  '19.2',
  '8',
  '400',
  '175',
  '3.08',
  '3.845',
  '17.05',
  '0',
  '0',
  '3',
  '2'],
 ['Fiat X1-9',
  '27.3',
  '4',
  '79',
  '66',
  '4.08',
  '1.935',
  '18.9',
  '1',
  '1',
  '4',
  '1'],
 ['Porsche 914-2',
  '26',
  '4',
  '120.3',
  '91',
  '4.43',
  '2.14',
  '16.7',
  '0',
  '1',
  '5',
  '2'],
 ['Lotus Europa',
  '30.4',
  '4',
  '95.1',
  '113',
  '3.77',
  '1.513',
  '16.9',
  '1',
  '1',
  '5',
  '2'],
 ['Ford Pantera L',
  '15.8',
  '8',
  '351',
  '264',
  '4.22',
  '3.17',
  '14.5',
  '0',
  '1',
  '5',
  '4'],
 ['Ferrari Dino',
  '19.7',
  '6',
  '145',
  '175',
  '3.62',
  '2.77',
  '15.5',
  '0',
  '1',
  '5',
  '6'],
 ['Maserati Bora',
  '15',
  '8',
  '301',
  '335',
  '3.54',
  '3.57',
  '14.6',
  '0',
  '1',
  '5',
  '8'],
 ['Volvo 142E',
  '21.4',
  '4',
  '121',
  '109',
  '4.11',
  '2.78',
  '18.6',
  '1',
  '1',
  '4',
  '2']]

In [14]:
mtcars_merc = csv_data.filter(lambda x: "Merc" in x[0])

In [15]:
mtcars_merc.collect()

[['Merc 240D',
  '24.4',
  '4',
  '146.7',
  '62',
  '3.69',
  '3.19',
  '20',
  '1',
  '0',
  '4',
  '2'],
 ['Merc 230',
  '22.8',
  '4',
  '140.8',
  '95',
  '3.92',
  '3.15',
  '22.9',
  '1',
  '0',
  '4',
  '2'],
 ['Merc 280',
  '19.2',
  '6',
  '167.6',
  '123',
  '3.92',
  '3.44',
  '18.3',
  '1',
  '0',
  '4',
  '4'],
 ['Merc 280C',
  '17.8',
  '6',
  '167.6',
  '123',
  '3.92',
  '3.44',
  '18.9',
  '1',
  '0',
  '4',
  '4'],
 ['Merc 450SE',
  '16.4',
  '8',
  '275.8',
  '180',
  '3.07',
  '4.07',
  '17.4',
  '0',
  '0',
  '3',
  '3'],
 ['Merc 450SL',
  '17.3',
  '8',
  '275.8',
  '180',
  '3.07',
  '3.73',
  '17.6',
  '0',
  '0',
  '3',
  '3'],
 ['Merc 450SLC',
  '15.2',
  '8',
  '275.8',
  '180',
  '3.07',
  '3.78',
  '18',
  '0',
  '0',
  '3',
  '3']]

### Sampling Operations
- sample (transformation) : Spark to apply successive transformation on a sample of a given RDD
- takeSample (action) : retrieves the sample and stores in local memory

#### sample
Parameters
   - replacement or not
   - sample size as fraction of original
   - random seed

In [16]:
csv_data_sample = data_from_file.sample(False, 0.2, 1896)

In [17]:
csv_data_sample

PythonRDD[7] at RDD at PythonRDD.scala:48

In [18]:
csv_data_sample.collect()

['Lincoln Continental,10.4,8,460,215,3,5.424,17.82,0,0,3,4',
 'Pontiac Firebird,19.2,8,400,175,3.08,3.845,17.05,0,0,3,2',
 'Fiat X1-9,27.3,4,79,66,4.08,1.935,18.9,1,1,4,1']

#### takeSample
Parameters
   - replacement or not
   - number of samples
   - random seed

In [19]:
csv_take_sample=data_from_file.takeSample(False,10,1400)

In [20]:
csv_take_sample

['Hornet 4 Drive,21.4,6,258,110,3.08,3.215,19.44,1,0,3,1',
 'Pontiac Firebird,19.2,8,400,175,3.08,3.845,17.05,0,0,3,2',
 'Ford Pantera L,15.8,8,351,264,4.22,3.17,14.5,0,1,5,4',
 'Mazda RX4,21,6,160,110,3.9,2.62,16.46,0,1,4,4',
 'Volvo 142E,21.4,4,121,109,4.11,2.78,18.6,1,1,4,2',
 'Cadillac Fleetwood,10.4,8,472,205,2.93,5.25,17.98,0,0,3,4',
 'Merc 450SLC,15.2,8,275.8,180,3.07,3.78,18,0,0,3,3',
 'Dodge Challenger,15.5,8,318,150,2.76,3.52,16.87,0,0,3,2',
 'Lincoln Continental,10.4,8,460,215,3,5.424,17.82,0,0,3,4',
 'Datsun 710,22.8,4,108,93,3.85,2.32,18.61,1,1,4,1']

### Set Operations
Several mathematical set "like" operations - union, intersection, subtract, distinct, and cartesian.

In [21]:
mtcars_notmerc_data = mtcars_full_data.subtract(mtcars_sub_data)

In [22]:
mtcars_notmerc_data

PythonRDD[17] at RDD at PythonRDD.scala:48

In [23]:
mtcars_notmerc_data.collect()

['Valiant,18.1,6,225,105,2.76,3.46,20.22,1,0,3,1',
 'Duster 360,14.3,8,360,245,3.21,3.57,15.84,0,0,3,4',
 'Fiat 128,32.4,4,78.7,66,4.08,2.2,19.47,1,1,4,1',
 'Camaro Z28,13.3,8,350,245,3.73,3.84,15.41,0,0,3,4',
 'Fiat X1-9,27.3,4,79,66,4.08,1.935,18.9,1,1,4,1',
 'Hornet 4 Drive,21.4,6,258,110,3.08,3.215,19.44,1,0,3,1',
 'Hornet Sportabout,18.7,8,360,175,3.15,3.44,17.02,0,0,3,2',
 'Dodge Challenger,15.5,8,318,150,2.76,3.52,16.87,0,0,3,2',
 'AMC Javelin,15.2,8,304,150,3.15,3.435,17.3,0,0,3,2',
 'Porsche 914-2,26,4,120.3,91,4.43,2.14,16.7,0,1,5,2',
 'Ford Pantera L,15.8,8,351,264,4.22,3.17,14.5,0,1,5,4',
 'Ferrari Dino,19.7,6,145,175,3.62,2.77,15.5,0,1,5,6',
 'Maserati Bora,15,8,301,335,3.54,3.57,14.6,0,1,5,8',
 'Volvo 142E,21.4,4,121,109,4.11,2.78,18.6,1,1,4,2',
 'Mazda RX4,21,6,160,110,3.9,2.62,16.46,0,1,4,4',
 'Cadillac Fleetwood,10.4,8,472,205,2.93,5.25,17.98,0,0,3,4',
 'Lincoln Continental,10.4,8,460,215,3,5.424,17.82,0,0,3,4',
 'Chrysler Imperial,14.7,8,440,230,3.23,5.345,17.42,0,0,3,4',
 'Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.9,1,1,4,1',
 'Pontiac Firebird,19.2,8,400,175,3.08,3.845,17.05,0,0,3,2',
 'Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2',
 'Mazda RX4 Wag,21,6,160,110,3.9,2.875,17.02,0,1,4,4',
 'Datsun 710,22.8,4,108,93,3.85,2.32,18.61,1,1,4,1',
 'Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2',
 'Toyota Corona,21.5,4,120.1,97,3.7,2.465,20.01,1,0,3,1']

In [24]:
csv_notmerc_data = mtcars_notmerc_data.map(lambda x: x.split(","))

In [25]:
notmerc_mpg_value = csv_notmerc_data.map(lambda x: float(x[1]))

In [26]:
notmerc_mpg_value.collect()

[18.1,
 14.3,
 32.4,
 13.3,
 27.3,
 21.4,
 18.7,
 15.5,
 15.2,
 26.0,
 15.8,
 19.7,
 15.0,
 21.4,
 21.0,
 10.4,
 10.4,
 14.7,
 33.9,
 19.2,
 30.4,
 21.0,
 22.8,
 30.4,
 21.5]

In [27]:
csv_merc_data = mtcars_sub_data.map(lambda x: x.split(","))

In [28]:
merc_mpg_value = csv_merc_data.map(lambda x: float(x[1]))

In [29]:
merc_mpg_value.collect()

[24.4, 22.8, 19.2, 17.8, 16.4, 17.3, 15.2]

### Data Aggregation in RDDs

In [30]:
total_mpg_notmerc = notmerc_mpg_value.reduce(lambda x, y: x + y)

In [31]:
total_mpg_merc=merc_mpg_value.reduce(lambda x, y: x + y)

In [32]:
total_mpg_notmerc

509.8

In [33]:
total_mpg_merc

133.1

In [34]:
notmerc_count=notmerc_mpg_value.count()

In [35]:
mpg_avg_notmerc=round(total_mpg_notmerc/float(notmerc_count),3)

In [36]:
mpg_avg_notmerc

20.392

In [37]:
merc_count=merc_mpg_value.count

In [38]:
total_mpg_merc = merc_mpg_value.aggregate(
    (0,0), # the initial value
    (lambda acc, value: (acc[0] + value, acc[1] + 1)), # combine value with acc
    (lambda acc1, acc2: (acc1[0] + acc2[0], acc1[1] + acc2[1])) # combine accumulators
)

In [39]:
total_mpg_merc

(133.1, 7)

In [40]:
mpg_merc=round(total_mpg_merc[0]/float(total_mpg_merc[1]),3)

In [41]:
mpg_merc

19.014

### Back to the Housing Example

Create a file with inputs

In [42]:
%%file houses.txt
3 Downtown 400000
2 Downtown 240000
3 Hilltop 650000

Overwriting houses.txt

In [43]:
text_RDD = sc.textFile("houses.txt")

In [44]:
text_RDD.collect()

['3 Downtown 400000', '2 Downtown 240000', '3 Hilltop 650000']

In [45]:
%%file inflation.txt
Downtown 2.1
Hilltop 4.5

Overwriting inflation.txt

Load House Prices

In [46]:
def mapper_parse_lines(line):
    """Parse line into (neighborhoood, price) pair"""
    words = line.split()
    return (words[1], float(words[2]))

In [47]:
house_prices_RDD = text_RDD.map(mapper_parse_lines)

In [48]:
house_prices_RDD.collect()

[('Downtown', 400000.0), ('Downtown', 240000.0), ('Hilltop', 650000.0)]

Load Inflation

In [49]:
inflation_text_RDD = sc.textFile("inflation.txt")

In [50]:
def mapper_parse__inflation_lines(line):
    """Parse line into (neighborhoood, inflation) pair"""
    words = line.split()
    return (words[0], float(words[1]))

In [51]:
inflation_RDD = inflation_text_RDD.map(mapper_parse__inflation_lines)

In [52]:
inflation_RDD.collect()

[('Downtown', 2.1), ('Hilltop', 4.5)]

Join

In [53]:
house_prices_RDD.join(inflation_RDD).collect()

[('Downtown', (400000.0, 2.1)),
 ('Downtown', (240000.0, 2.1)),
 ('Hilltop', (650000.0, 4.5))]

In [54]:
def mapper_multiply_price_inflation(pair):
    inflation_ratio = 1 + pair[1][1]/100.
    return (pair[0], pair[1][0]*inflation_ratio)

In [55]:
house_prices_nextyear_RDD = house_prices_RDD.join(
    inflation_RDD).map(mapper_multiply_price_inflation)

In [56]:
house_prices_nextyear_RDD.collect()

[('Downtown', 408399.99999999994),
 ('Downtown', 245039.99999999997),
 ('Hilltop', 679250.0)]

Reduce

In [57]:
def reducer_sum(a,b):
    return a+b

In [58]:
total_nextyear = house_prices_nextyear_RDD.reduceByKey(reducer_sum)

In [59]:
total_nextyear.collect()

[('Downtown', 653439.9999999999), ('Hilltop', 679250.0)]

DataFrames

In [60]:
def mapper_parse_lines2(line):
    """Parse line into (neighborhoood, price) pair"""
    words = line.split()
    return (words[1], float(words[2]), int(words[0]))

In [61]:
house_prices_RDD2 = text_RDD.map(mapper_parse_lines2)

In [62]:
house_prices_RDD2.collect()

[('Downtown', 400000.0, 3),
 ('Downtown', 240000.0, 2),
 ('Hilltop', 650000.0, 3)]

In [64]:
house_prices_df = sqlContext.createDataFrame(house_prices_RDD2,
                ["neighborhood", "price", "bedrooms"])

In [65]:
house_prices_df.show()

+------------+--------+--------+
|neighborhood|   price|bedrooms|
+------------+--------+--------+
|    Downtown|400000.0|       3|
|    Downtown|240000.0|       2|
|     Hilltop|650000.0|       3|
+------------+--------+--------+

In [66]:
house_prices_df.printSchema()

root
 |-- neighborhood: string (nullable = true)
 |-- price: double (nullable = true)
 |-- bedrooms: long (nullable = true)

In [67]:
def mapper_parse__inflation_lines2(line):
    """Parse line into (neighborhoood, inflation) pair"""
    words = line.split()
    return (words[0], float(words[1]))

In [68]:
inflation_RDD2 = inflation_text_RDD.map(mapper_parse__inflation_lines)

In [69]:
inflation_RDD.collect()

[('Downtown', 2.1), ('Hilltop', 4.5)]

In [70]:
inflation_df = sqlContext.createDataFrame(inflation_RDD,
                        ["neighborhood", "inflation"])

In [71]:
inflation_df.printSchema()

root
 |-- neighborhood: string (nullable = true)
 |-- inflation: double (nullable = true)

Join

In [72]:
house_prices_df.join(inflation_df, "neighborhood").show()

+------------+--------+--------+---------+
|neighborhood|   price|bedrooms|inflation|
+------------+--------+--------+---------+
|    Downtown|400000.0|       3|      2.1|
|    Downtown|240000.0|       2|      2.1|
|     Hilltop|650000.0|       3|      4.5|
+------------+--------+--------+---------+

In [73]:
house_prices_with_inflation_df = house_prices_df.join(inflation_df, "neighborhood")

In [74]:
house_prices_nextyear_df = \
house_prices_with_inflation_df.withColumn("new_price",                                      
(house_prices_with_inflation_df.price * (1 +
        house_prices_with_inflation_df.inflation/100.)))

In [75]:
house_prices_nextyear_df.show()

+------------+--------+--------+---------+------------------+
|neighborhood|   price|bedrooms|inflation|         new_price|
+------------+--------+--------+---------+------------------+
|    Downtown|400000.0|       3|      2.1|408399.99999999994|
|    Downtown|240000.0|       2|      2.1|245039.99999999997|
|     Hilltop|650000.0|       3|      4.5|          679250.0|
+------------+--------+--------+---------+------------------+

In [76]:
house_prices_nextyear_df = house_prices_with_inflation_df.withColumn("new_price",                                      
    (house_prices_with_inflation_df.price * (1 + house_prices_with_inflation_df.inflation/100.)).cast("int"))

In [77]:
house_prices_nextyear_df.show()

+------------+--------+--------+---------+---------+
|neighborhood|   price|bedrooms|inflation|new_price|
+------------+--------+--------+---------+---------+
|    Downtown|400000.0|       3|      2.1|   408399|
|    Downtown|240000.0|       2|      2.1|   245039|
|     Hilltop|650000.0|       3|      4.5|   679250|
+------------+--------+--------+---------+---------+

In [78]:
house_prices_nextyear_df.groupBy("neighborhood").sum("new_price").show()

+------------+--------------+
|neighborhood|sum(new_price)|
+------------+--------------+
|    Downtown|        653438|
|     Hilltop|        679250|
+------------+--------------+